body {
  color: #2f80ed;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.card-image {
  width: 520px;
	display:block;
	margin:auto;
  margin-top: 110px;
}

.main_text {
  width: 420px;
  margin: auto;
  font-size: 120px;
  text-align: center;
  margin-top: 10px;
}

.footer {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  }

  .main_text_hover {
    opacity: .0;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    width: 420px;
    margin-top: 22px;
    margin: auto;
  }

  .main_text:hover ~ .main_text_hover {
    transition: 5s;
    opacity: 1;
  }